<ul style="display: flex">
  <li *ngFor="let item of books">
    <mat-card class="example-card" style="max-width: 400px">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ item.name }}</mat-card-title>
        <mat-card-subtitle>{{ item.category }}</mat-card-subtitle>
        <mat-card-subtitle>{{
          item.price | currency: "BYN"
        }}</mat-card-subtitle>
      </mat-card-header>

      <img
        mat-card-image
        src="{{ item.img }}"
        alt="Photo of {{ item.name }}"
        style="max-width: 200px"
      />
      <mat-card-content>
        <p>
          {{ item.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>INFO</button>
        <button
          mat-button
          (click)="onAddToCart(item)"
          disabled="{{ !item.isAvailable }}"
        >
          BUY
        </button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>
